etl/relatorio_final.csv
etl/demonstracoes_contabeis.csv
etl/operadoras.csv
__pycache__/
*.pyc
.DS_Store
.env
venv/
.venv/
env/
# Arquivos gerados pelo ETL
consolidado_despesas.zip
consolidado_despesas.csv
postman_collection.json